<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/">georg.io</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/waltherg"><i class="fa fa-github fa-2x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/georgwalther/"><i class="fa fa-linkedin fa-2x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:contact@georg.io"><i class="fa fa-envelope fa-2x"></i></a>
          </li>
        </ul>
    </div>
</nav>
